@charset "UTF-8";
/*------------------------------------------------------------------
[ Table of contents ]

1. Google fonts
2. Main Colors
3. Buttons styles
4. Typography
5. Header
    1. Desctop menu
    2. Mobile menu
    3. Header slider
    4. Header particles
    5. Header video
6. Footer
7. Home page
    1. Icons section
    2. Service section
    3. Portfolio section
    4. Partners section
    5. Contact block
    6. News Section
8. About page
    1. Section who we are
    2. Numbers block
    3. Team section
9. Services page
    1. Services items
10. Contacts
    1. Contacts box
    2. Contacts form
    3. Map
11. Blog & Portfolio
    1. Blog post & Portfolio item
    2. Post styles
    3. Sidebar > Widgets
12. Blog Single & Portfolio Single
    1. Thumbnail styles
    2. Description
    3. Share
    4. Comments
    5. Post single content styles & typography
13. Other styles
    1. Pagintaion

------------------------------------------------------------------ */
/* 1 Google fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900|Open+Sans:300,400,600,700,800");
/* 2 Main Colors */
@font-face {
  font-family: 'sayrez';
  src:  url('../fonts/sayrez.woff') format('woff2'),
        url('../fonts/sayrez.ttf') format('tts');
}

p,h1,h2,h3,h4,h5,h6,div,li,a,input,button,textarea{
  font-family: 'sayrez',sayrez !important;
 
}
.owl-carousel,.owl-carousel *{
  direction: ltr !important;
}
.menu-flex .logo a{
  display:block !important;
}
section div, section p{
  text-align:right !important;
  direction: rtl !important;
}

.team-slider *{
  direction: ltr !important;
}

.white {
  color: #fff; }

.orange {
  color: #1CA6F6; }

.black {
  color: #080909; }

/* 3 Buttons styles */
.btn {
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  display: block;
  min-width: 100px;
  padding: 0 30px;
  height: 42px;
  min-height: 42px;
  line-height: 42px;
  overflow: hidden;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border: 1px solid #1CA6F6;
  z-index: 1;
  position: relative;
  transition: 0.4s all; }
  .btn:after {
    content: "";
    display: block;
    position: absolute;
    width: 0%;
    height: 120%;
    left: 0;
    top: 0;
    background: #1CA6F6;
    z-index: -1;
    transition: 0.5s all;
    opacity: 0.3; }
  .btn:hover:after {
    opacity: 1;
    width: 150%;
    right: 0; }

.small-btn {
  height: 38px;
  min-height: 38px;
  line-height: 38px;
  font-size: 15px;
  padding: 0 22px; }

.big-btn {
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  display: block;
  min-width: 100px;
  padding: 0 40px;
  height: 55px;
  min-height: 55px;
  line-height: 50px;
  overflow: hidden;
  font-size: 22px;
  text-align: center;
  color: #fff;
  border: 2px solid #1CA6F6;
  z-index: 1;
  position: relative;
  transition: 0.4s all; }
  .big-btn:after {
    content: "";
    display: block;
    position: absolute;
    width: 0%;
    height: 120%;
    left: 0;
    top: 0;
    background: #1CA6F6;
    z-index: -1;
    transition: 0.5s all;
    opacity: 0.3; }
  .big-btn:hover:after {
    opacity: 1;
    width: 150%;
    right: 0; }

.btn-rect {
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  display: block;
  min-width: 100px;
  padding: 0 30px;
  height: 42px;
  min-height: 42px;
  line-height: 42px;
  overflow: hidden;
  font-size: 16px;
  text-align: center;
  color: #080909;
  border: 1px solid #1CA6F6;
  z-index: 1;
  position: relative;
  transition: 0.4s all; }
  .btn-rect:after {
    content: "";
    display: block;
    position: absolute;
    width: 0%;
    height: 120%;
    left: 0;
    top: 0;
    background: #1CA6F6;
    z-index: -1;
    transition: 0.5s all;
    opacity: 0.3; }
  .btn-rect:hover {
    background: #1CA6F6; }
    .btn-rect:hover:after {
      opacity: 1;
      width: 150%;
      right: 0; }

.btn-fill {
  font-family: 'Montserrat', sans-serif;
  display: block;
  min-width: 100px;
  padding: 0 30px;
  height: 42px;
  min-height: 42px;
  line-height: 42px;
  overflow: hidden;
  font-size: 16px;
  text-align: center;
  color: #080909;
  border: 1px solid #1CA6F6;
  z-index: 1;
  background: #1CA6F6;
  position: relative;
  transition: 0.4s all; }

.btns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start; }
  .btns button {
    margin: 10px 0;
    display: block; }

.relative-wrap {
  position: relative;
  display: block; }

/* 4 Typography */
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.6; }

span {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; }

h1, .h1 {
  font-size: 64px;
  margin: 0;
  line-height: 1.2;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif; }

h2 {
  font-size: 42px;
  margin: 0;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; }

h3 {
  font-size: 38px;
  margin: 0;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; }

h4 {
  font-size: 28px;
  margin: 0;
  line-height: 1.4;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif; }

h5 {
  font-size: 21px;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; }

h6 {
  font-size: 19px;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300; }

@media (max-width: 991px) {
  h1, .h1 {
    font-size: 54px !important; }
  h2 {
    font-size: 32px; }
  h3 {
    font-size: 26px; }
  h4 {
    font-size: 22px; }
  h5 {
    font-size: 20px; }
  h6 {
    font-size: 18px; } }

@media (max-width: 767px) {
  h1, .h1 {
    font-size: 40px !important; }
  h2 {
    font-size: 32px; }
  h3 {
    font-size: 26px; }
  h4 {
    font-size: 20px; }
  h5 {
    font-size: 18px; }
  h6 {
    font-size: 16px; } }

@media (max-width: 550px) {
  h1, .h1 {
    font-size: 36px !important; }
  h2 {
    font-size: 26px; }
  h3 {
    font-size: 22px; }
  h4 {
    font-size: 20px; }
  h5 {
    font-size: 18px; }
  h6 {
    font-size: 16px; } }

@media (max-width: 380px) {
  h1, .h1 {
    font-size: 32px !important; } }

/* 5 Header */
.header {
  overflow: hidden;
  height: 100vh;
  min-height: 600px;
  max-height: 1080px;
  width: 100%;
  background: transparent;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3); }
  .header .header-center {
    height: 100%;
    width: 100%;
    z-index: 1; }
  .header h1 {
    text-align: center;
    color: #fff;
    margin-top: 20px;
    z-index: 1; }
  .header h4 {
    color: #fff;
    text-align: center;
    z-index: 1; }

.page-header {
  position: relative;
  width: 100%;
  height: 350px; }
  .page-header h1 {
    font-size: 48px; }
  .page-header.error {
    min-height: 400px;
    height: calc(100vh - 70px); }
    .page-header.error h1 {
      text-align: center; }
    @media (max-width: 767px) {
      .page-header.error {
        height: calc(100vh - 120px); } }
  @media (max-width: 767px) {
    .page-header {
      height: 300px; } }
  .page-header > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    justify-content: center;
    color: #fff;
    /* breadcrumbs */ }
    @media (max-width: 767px) {
      .page-header > .container {
        padding-top: 0; } }
    .page-header > .container .breadcrumbs {
      color: #fff;
      font-size: 16px;
      margin-top: 15px;
      display: block;
      font-family: 'Montserrat', sans-serif; }
      .page-header > .container .breadcrumbs a {
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        transition: 0.3s all ease; }
        .page-header > .container .breadcrumbs a:hover {
          color: #1CA6F6; }
      .page-header > .container .breadcrumbs span i {
        display: inline-block;
        color: #fff;
        margin: 0 10px; }

/* 5.1 Desctop menu */
@media (min-width: 992px) {
  .nav {
    top: 0;
    padding: 15px 0;
    width: 100%;
    position: absolute;
    z-index: 100;
    transition: 0.4s all ease;
    left: 0;
    right: 0;
    z-index: 200; }
    .nav.fixed {
      padding: 5px 0;
      background: #2b2424;
      position: fixed; } }

.menu-flex {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 1200px) {
    .menu-flex {
      width: 80%;
      margin-left: auto;
      margin-right: auto; } }
  .menu-flex .logo {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 36px;
    display: flex;
    align-content: center;
    justify-content: center; }
    .menu-flex .logo img {
      height: 36px;
      width: auto;
      margin-right: 10px; }
    .menu-flex .logo a {
      font-size: 36px;
      color: #fff;
      font-weight: bold;
      line-height: 42px;
      display: flex;
      align-items: center; }
  .menu-flex .menu {
    display: -webkit-inline-box;
    margin-right:10px;
    height: 100%;
    align-items: center; }
    .menu-flex .menu li {
      position: relative;
      margin-left: 12px;
      padding-bottom: 20px;
      padding-top: 20px;
      padding-left: 10px;
      padding-right: 10px; }
      .menu-flex .menu li a {
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        font-size: 14px;
        transition: 0.3s all ease;
        position: relative;
        display: block;
        width: 100%;
        height: 100%; }
        .menu-flex .menu li a:before {
          left: 0;
          right: 0;
          margin: auto;
          width: 0%;
          display: block;
          content: "";
          background: #1CA6F6;
          height: 1px;
          position: absolute;
          transition: 0.2s all ease;
          bottom: -4px; }
        .menu-flex .menu li a:hover:before {
          width: 100%; }
        .menu-flex .menu li a:hover {
          color: #1CA6F6; }
      .menu-flex .menu li.dropdown:after {
        position: absolute;
        right: -3px;
        content: "\f107";
        font: normal normal normal 14px/12px FontAwesome;
        color: #fff;
        top: 50%;
        margin: auto;
        display: block;
        cursor: pointer;
        line-height: 1px; }
      .menu-flex .menu li.dropdown:hover .dropdown-menu, .menu-flex .menu li.dropdown:active .dropdown-menu, .menu-flex .menu li.dropdown:focus .dropdown-menu {
        visibility: visible;
        opacity: 1;
        top: 100%;
        pointer-events: all; }
      .menu-flex .menu li .dropdown-menu {
        position: absolute;
        transition: 0.3s all ease;
        width: 180px;
        left: 0%;
        top: 150%;
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        background: #171b1b; }
        .menu-flex .menu li .dropdown-menu li {
          padding: 0;
          margin: 0;
          width: 100%; }
          .menu-flex .menu li .dropdown-menu li a {
            display: block;
            line-height: 1.5;
            padding: 8px 15px;
            width: 100%; }
            .menu-flex .menu li .dropdown-menu li a:before {
              display: none; }

.btn-block {
  display: flex;
  align-items: center;
  margin-top: 25px; }
  .btn-block .btn {
    margin: 0 10px; }

.menu-icon-wrap {
  background: #080909;
  width: 35px;
  height: 30px;
  justify-content: center;
  align-items: center;
  display: none;
  right: 15px;
  top: 15px;
  z-index: 200; }

.menu-icon {
  cursor: pointer; }
  .menu-icon .line {
    width: 25px;
    height: 2px;
    background-color: #ecf0f1;
    display: block;
    margin: 4px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

.menu-icon.active .line:nth-child(2) {
  opacity: 0; }

.menu-icon.active .line:nth-child(1) {
  transform: translateY(6px) rotate(45deg); }

.menu-icon.active .line:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg); }

/* 5.2 Mobile menu */
@media (max-width: 991px) {
  .menu-icon-wrap {
    display: flex;
    position: fixed; }
  .menu-flex {
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    width: 256px;
    background-color: #000;
    position: fixed;
    left: 0;
    transform: translateX(-100%);
    transition: 0.4s all ease;
    top: 0;
    bottom: 0;
    height: 100%;
    min-height: 100vh;
    z-index: 200; }
    .menu-flex.active {
      transform: translateX(0); }
    .menu-flex .logo {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 20px 0;
      border-bottom: 1px solid #1CA6F6;
      align-items: center;
      width: 100%;
      text-align: center; }
      .menu-flex .logo a {
        text-align: center; }
    .menu-flex .menu {
      overflow-y: scroll !important;
      -webkit-overflow-scrolling: touch;
      padding: 50px 0;
      width: 100%;
      align-items: flex-start;
      height: 101%; }
      .menu-flex .menu li {
        padding: 0;
        margin-left: 0;
        display: block;
        width: 100%;
        transition: 0.3s all ease; }
        .menu-flex .menu li.active:hover {
          background: #080909; }
        .menu-flex .menu li.dropdown:after {
          right: 20px;
          font-size: 20px;
          top: 25px; }
        .menu-flex .menu li.dropdown.active:after {
          transform: rotate(180deg); }
        .menu-flex .menu li a {
          padding: 0;
          padding-left: 20px;
          transition: 0.3s all ease;
          width: 100%;
          height: 100%;
          display: block;
          line-height: 50px;
          font-size: 20px; }
          .menu-flex .menu li a:before {
            display: none; }
          .menu-flex .menu li a:hover {
            color: #fff; }
        .menu-flex .menu li .dropdown-menu {
          transition: none;
          display: none;
          position: relative;
          opacity: 1;
          pointer-events: all;
          visibility: visible;
          background-color: transparent;
          width: 100%; }
          .menu-flex .menu li .dropdown-menu li a {
            color: #fff;
            padding-left: 30px; }
  .menu-flex .menu {
    flex-direction: column; } }

/* 5.3 Header slider */
.header-slider {
  width: 100%; }
  .header-slider .item {
    height: 100vh;
    min-height: 600px;
    max-height: 1080px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative; }
  .header-slider .slick-dots {
    position: absolute;
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .header-slider .slick-dots li {
      margin: 0 5px;
      width: 10px;
      height: 10px;
      background: #fff;
      opacity: 0.8;
      transition: 0.3s all;
      cursor: pointer;
      border-radius: 50%; }
      @media (max-width: 767px) {
        .header-slider .slick-dots li {
          width: 16px;
          height: 16px;
          max-width: 0 10px; } }
      .header-slider .slick-dots li.slick-active {
        opacity: 1;
        background: #1CA6F6; }
      .header-slider .slick-dots li button {
        display: none; }
  .header-slider .prev {
    position: absolute;
    left: 25px;
    top: 50%;
    z-index: 100;
    cursor: pointer;
    transform: translateY(-50%); }
    .header-slider .prev i {
      font-size: 35px;
      color: #fff; }
    @media (max-width: 767px) {
      .header-slider .prev {
        display: none !important; } }
  .header-slider .next {
    position: absolute;
    right: 25px;
    top: 50%;
    z-index: 100;
    cursor: pointer;
    transform: translateY(-50%); }
    .header-slider .next i {
      font-size: 35px;
      color: #fff; }
    @media (max-width: 767px) {
      .header-slider .next {
        display: none !important; } }

/* 5.4 Header particles */
#particles-js {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0; }

/* 5.5 Header video */
.bg-video {
  background-image: url(../img/header.jpg); }

.bg-video:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1; }

.header .video {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  z-index: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%); }

/* 6 Footer */
.footer {
  background: #080909;
  width: 100%;
  height: 70px; }
  .footer .flex {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .footer .flex .copyright {
      font-size: 14px;
      color: #fff;
      line-height: 70px;
      font-family: 'Open Sans', sans-serif; }
    .footer .flex .social {
      display: flex;
      align-items: center; }
      .footer .flex .social a {
        margin: 0 10px;
        color: #fff;
        line-height: 70px;
        transition: 0.2s all;
        font-size: 16px; }
        .footer .flex .social a:hover {
          color: #1CA6F6;
          transform: translateY(-4px); }

@media (max-width: 767px) {
  .footer {
    height: auto;
    padding: 15px 0px; }
    .footer .flex {
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column; }
      .footer .flex .copyright, .footer .flex .social a {
        line-height: 45px; } }

/* container styles */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 0 15px; }

/* wrapper styles */
.wrapper {
  position: relative;
  width: 100%;
  height: 100%; }
  .wrapper .bg-blur {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 150;
    transition: 0.4s all ease;
    transform: translateX(100%); }
    .wrapper .bg-blur.active {
      transform: translateX(0); }

/* section styles */
.section {
  width: 100%;
  padding: 80px 0; }
  .section .h2-wrap {
    display: flex;
    justify-content: center; }
  .section h3 {
    text-align: center;
    position: relative;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .section h3:after {
      position: absolute;
      display: block;
      content: '';
      width: 51px;
      height: 2px;
      background: #1CA6F6;
      left: 0;
      right: 0;
      margin: auto; 
    margin-top:10px;
    transition:0.3s all;
    }
    .section h3:hover:after{
      width: 101px;
    }
    .section h3.left {
      text-align: left; }
      .section h3.left:after {
        margin: 0;
        left: 0; }

/* 7 Home page */
/* 7.1 Icons section  */
.icons-section {
  padding-bottom: 0; }
  .icons-section .section-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .icons-section .section-flex div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 240px;
      margin-top: 0;
      margin-left: 25px;
      margin-right: 25px;
      margin-bottom: 50px; }
      .icons-section .section-flex div i {
        font-size: 25px;
        text-align: center;
        margin-bottom: 8px;
        font-size: 42px;
        color: #1CA6F6; }
      .icons-section .section-flex div h5 {
        margin-bottom: 8px;
        color: #080909;
        line-height: 2; }
      .icons-section .section-flex div p {
        text-align: center;
        color: #909590;
        font-weight: 300;
        max-width: 240px;
        width: 100%; }

/* 7.2 Service section  */
.service-section {
  background-image: url(../img/service.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative; }
  .service-section:after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: url(../img/raster.png);
    position: absolute;
    left: 0;
    right: 0;
    border: 0;
    top: 0;
    z-index: 0; }
  .service-section .container {
    z-index: 1;
    position: relative; }
  .service-section .section-flex {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap; }
    .service-section .section-flex .item {
      width: 50%;
      height: 220px;
      overflow: hidden;
      display: block;
      transition: all 0.3s ease;
      position: relative;
      background-color: rgba(0, 0, 0, 0.5); }
      .service-section .section-flex .item:hover {
        padding-bottom: 220px; }

      .service-section .section-flex .item .wrap {
        height: 200%;
        width: 100%;
        position: absolute;
        top: 0;
        transition: 0.3s all ease; }
        .service-section .section-flex .item .wrap:hover {
          transform: translateY(-50%); }
      .service-section .section-flex .item .up {
        height: 220px;
        width: 100%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .service-section .section-flex .item .up i {
          font-size: 42px;
          margin-bottom: 10px; }
        .service-section .section-flex .item .up h5 {
          text-align: center; }
      .service-section .section-flex .item .down {
        height: 220px;
        width: 100%;
        padding: 35px;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; }
        .service-section .section-flex .item .down p {
          margin-top: 12px;
          margin-bottom: 15px;
          font-weight: 100;
          max-width: 100%;
          display: block; }
        .service-section .section-flex .item .down .btn {
          display: inline-block; }

/* 7.3 Portfolio section  */
.portfolio-section .container {
  padding: 0 5px; }

.portfolio-section .portfolio-grid {
  margin-top: 50px; }
  .portfolio-section .portfolio-grid .filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px; }
  .portfolio-section .portfolio-grid .portfolio-item {
    margin-bottom: 20px;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    display: block; }
    .portfolio-section .portfolio-grid .portfolio-item .img-wrap {
      overflow: hidden;
      position: relative;
      display: block; }
      .portfolio-section .portfolio-grid .portfolio-item .img-wrap img {
        display: block;
        min-width: 100%;
        width: 100% !important;
        position: relative;
        max-width: 100.5%;
        height: auto;
        transition: transform 0.5s, opacity .5s;
        -webkit-backface-visibility: hidden; }
    .portfolio-section .portfolio-grid .portfolio-item .preview {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      opacity: 0;
      background: rgba(0, 0, 0, 0.7);
      transition: 0.3s all; }
      .portfolio-section .portfolio-grid .portfolio-item .preview .date {
        position: absolute;
        right: 15px;
        bottom: 15px; }
      .portfolio-section .portfolio-grid .portfolio-item .preview .tags {
        font-weight: 300; }
      .portfolio-section .portfolio-grid .portfolio-item .preview .actions {
        color: #fff;
        font-size: 14px;
        display: flex;
        align-items: center;
        position: absolute;
        left: 15px;
        bottom: 15px; }
        .portfolio-section .portfolio-grid .portfolio-item .preview .actions > span {
          margin-right: 10px; }
          .portfolio-section .portfolio-grid .portfolio-item .preview .actions > span:last-child {
            margin-right: 0; }
        .portfolio-section .portfolio-grid .portfolio-item .preview .actions i {
          font-size: 15px;
          margin-right: 5px; }
        .portfolio-section .portfolio-grid .portfolio-item .preview .actions span {
          display: flex;
          align-items: center; }
      .portfolio-section .portfolio-grid .portfolio-item .preview .title {
        font-weight: 600; }
    .portfolio-section .portfolio-grid .portfolio-item:hover img {
      transform: scale(1.2); }
    .portfolio-section .portfolio-grid .portfolio-item:hover .preview {
      opacity: 1; }

.portfolio-section .filters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .portfolio-section .filters button {
    display: block;
    margin: 0 10px;
    margin-bottom: 15px;
    background: none;
    border: none;
    color: #080909;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: 0.3s all ease;
    padding-bottom: 4px;
    position: relative; }
    .portfolio-section .filters button.active:before {
      background: #1CA6F6;
      width: 90%;
      margin: auto;
      content: "";
      height: 2px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0; }

/* 7.4 Partners section  */
.partners-section {
  background: #EDEEF0; }
  .partners-section .partners-slider {
    width: 100%;
    overflow: hidden;
    display: flex; }
    .partners-section .partners-slider .item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70px; }
      .partners-section .partners-slider .item img {
        height: 100%;
        width: auto; }

/* 7.5 Contact block  */
.contact-block {
  padding: 80px 0;
  background-image: url(../img/сontact-block.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center; }
  .contact-block .flex {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .contact-block .flex h2 {
      color: #fff;
      font-weight: 300; }

/* 7.6 News Section  */
.news-section .container {
  margin-top: 50px; }

.news-section .flex {
  display: flex;
  flex-wrap: wrap; }

.news-section .big-btn {
  color: #080909;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px; }
  .news-section .big-btn:hover {
    color: #fff; }

/* 8 About page */
.about h3 {
  margin-bottom: 20px; }

/* 8.1 Who we are */
.who p {
  font-size: 16px;
  margin: 15px 0;
  color: #5a5454; }
  @media (max-width: 660px) {
    .who p {
      font-size: 14px; } }

.who .flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  @media (max-width: 991px) {
    .who .flex {
      flex-direction: column-reverse; } }

@media (max-width: 660px) {
  .who .img-block {
    padding: 0; } }

.who .text-block {
  padding: 50px; }
  @media (max-width: 1250px) {
    .who .text-block {
      padding: 20px; } }
  @media (max-width: 991px) {
    .who .text-block {
      padding: 0 10px; } }
  @media (max-width: 660px) {
    .who .text-block {
      padding: 0; } }

/* 8.2 Numbers block */
.numbers {
  background-image: url(../img/header.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  padding: 0; }
  .numbers .numbers-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    .numbers .numbers-flex .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 150px;
      margin: 44px; }
      .numbers .numbers-flex .item .num {
        font-size: 40px;
        font-weight: bold;
        color: #fff;
        font-family: "Open Sans", sans-serif; }
      .numbers .numbers-flex .item .title {
        font-size: 16px;
        color: #fff; }

/* 8.3 Team section */
.team-slider {
  position: relative;
  margin-top: 30px;
  width: 100%;
  margin-bottom: 25px; }
  .team-slider .owl-stage-outer {
    overflow: hidden; }
  .team-slider .owl-prev {
    position: absolute;
    left: -50px;
    top: 50%;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border: 1px solid #1CA6F6;
    line-height: 38px;
    text-align: center;
    z-index: 10;
    cursor: pointer;
    transition: 0.3s all;
    margin-top: -20px; }
    @media (max-width: 1280px) {
      .team-slider .owl-prev {
        left: 10px; } }
    .team-slider .owl-prev:hover {
      background: #1CA6F6; }
  .team-slider .owl-next {
    position: absolute;
    right: -50px;
    top: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #1CA6F6;
    margin-top: -20px;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    z-index: 10;
    cursor: pointer;
    transition: 0.3s all; }
    @media (max-width: 1280px) {
      .team-slider .owl-next {
        right: 10px; } }
    .team-slider .owl-next:hover {
      background: #1CA6F6; }
  .team-slider .owl-item {
    display: inline-block; }
  .team-slider .item {
    display: flex; }
    @media (max-width: 991px) {
      .team-slider .item {
        justify-content: center; } }
    .team-slider .item:hover img {
      transform: scale(1.1); }
    .team-slider .item .member {
      position: relative;
      overflow: hidden; }
      .team-slider .item .member img {
        display: block;
        transition: 0.5s all;
        width: 100%; }
    .team-slider .item .description {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      margin: auto;
      bottom: 0;
      right: 0;
      opacity: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 10;
      padding: 25px;
      transition: 0.3s all;
      background: rgba(0, 0, 0, 0.8); }
      @media (max-width: 660px) {
        .team-slider .item .description {
          padding: 25px 10px; } }
      .team-slider .item .description:hover {
        opacity: 1;
        transform: scale(0.9); }
      .team-slider .item .description .name {
        font-size: 30px;
        color: #fff;
        font-weight: bold;
        line-height: 1.4; }
      .team-slider .item .description .prof {
        font-size: 18px;
        color: rgba(255, 255, 255, 0.8); }
      .team-slider .item .description .member-info {
        text-align: center; }
      .team-slider .item .description .social {
        height: 46px;
        right: 25px;
        bottom: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 12px; }
        @media (max-width: 660px) {
          .team-slider .item .description .social {
            right: 10px; } }
        .team-slider .item .description .social a {
          color: #1CA6F6;
          font-size: 18px;
          margin: 0 12px; }
          .team-slider .item .description .social a:last-child {
            margin-right: 0; }

/* 9 Services page */
.services {
  padding-top: 40px;
  padding-bottom: 30px;
  /* 9.1 Services items */ }
  .services .items {
    margin-top: 80px; }
  .services .item {
    background: #EDEEF0;
    margin-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 22px;
    padding-top: 35px;
    position: relative;
    height: auto; }
    .services .item .round {
      left: 0;
      right: 0;
      top: 0;
      transform: translateY(-50%);
      margin: auto;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      background: #000;
      width: 85px;
      height: 85px;
      border-radius: 50%; }
      .services .item .round span {
        color: #fff;
        font-size: 42px; }
    .services .item h5 {
      font-weight: bold;
      text-align: center;
      margin-top: 25px;
      margin-bottom: 12px; }

.wedo .container {
  margin-top: 50px;
  min-height: 400px; }

.wedo .video-block {
  position: relative; }
  .wedo .video-block img {
    width: 100%;
    height: auto; }
  .wedo .video-block a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    color: #1CA6F6; }
  @media (max-width: 991px) {
    .wedo .video-block {
      margin-bottom: 35px; } }

.acc-wrap .accordeon {
  margin-bottom: 20px; }

.acc-wrap .accordeon-main {
  position: relative;
  display: flex;
  width: 100%;
  height: 60px;
  background: #F6F6F6;
  cursor: pointer;
  border-left: solid 1px #d9e6ea;
  border-top: solid 1px #d9e6ea;
  border-right: solid 1px #d9e6ea;
  border-bottom: solid 1px #d9e6ea; }

.acc-wrap .accordeon-main.active {
  background: #1CA6F6;
  color: #fff; }

.acc-wrap .block-active {
  width: 60px;
  height: 100%;
  border-right: solid 1px #d9e6ea;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400; }

.acc-wrap .block-text {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 500; }

.acc-wrap .accorderon-text {
  background: #F6F6F6;
  padding: 23px;
  display: none;
  color: #5a5454;
  border-left: solid 1px #d9e6ea;
  border-right: solid 1px #d9e6ea;
  border-bottom: solid 1px #d9e6ea; }

.acc-wrap .block-text i {
  position: absolute;
  right: 20px;
  top: 50%;
  font-size: 20px;
  font-weight: 400;
  transform: translateY(-50%); }

.acc-wrap .accordeon-main.active .block-text i {
  transform: translateY(-50%) rotate(180deg); }

/* 10 Contacts */
.contacts {
  padding-top: 0;
  /* 10.1 Contacts box */ }
  .contacts .contact-box {
    margin-top: 35px;
    /* 10.2 Contacts form */ }
    @media (max-width: 767px) {
      .contacts .contact-box {
        padding: 0;
        margin-bottom: 40px; } }
    .contacts .contact-box h3 {
      margin-bottom: 14px; }
    .contacts .contact-box .items {
      margin-top: 15px; }
    .contacts .contact-box .item {
      line-height: 3;
      font-size: 16px; }
      .contacts .contact-box .item i {
        color: #1CA6F6;
        margin-right: 8px;
        font-size: 18px; }
      .contacts .contact-box .item span, .contacts .contact-box .item p, .contacts .contact-box .item b, .contacts .contact-box .item a {
        font-size: 16px;
        color: #080909; }
    .contacts .contact-box .form-flex {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
    .contacts .contact-box input {
      width: 48%;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      border: 1px solid #909590;
      padding: 0 15px;
      margin-bottom: 20px;
      transition: 0.3s all ease; }
      .contacts .contact-box input:focus {
        border: 1px solid #1CA6F6; }
      @media (max-width: 600px) {
        .contacts .contact-box input {
          width: 100%; } }
    .contacts .contact-box textarea {
      width: 100%;
      min-height: 200px;
      max-height: 500px;
      resize: none;
      font-size: 16px;
      border: 1px solid #909590;
      padding: 15px;
      margin-bottom: 16px;
      transition: 0.3s all ease; }
      .contacts .contact-box textarea:focus {
        border: 1px solid #1CA6F6; }
    .contacts .contact-box button {
      cursor: pointer; }
  .contacts .progress-bars {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .contacts .progress-bars .bar {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      margin-right: 10px;
      width: auto; }
      .contacts .progress-bars .bar p {
        font-size: 18px;
        color: #080909;
        font-weight: bold; }
    .contacts .progress-bars .icon {
      font-size: 50px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 15px 0;
      color: #080909;
      position: relative;
      box-shadow: inset 0 0 0 4px #CECECE;
      transition: 1s; }
      .contacts .progress-bars .icon:before {
        z-index: 1;
        position: relative; }
      .contacts .progress-bars .icon:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: #CECECE;
        left: 0;
        top: 0;
        border-radius: 50%;
        transition: 1s;
        opacity: 1; }
      .contacts .progress-bars .icon:hover:after {
        transform: scale(1.3);
        opacity: 0; }
      .contacts .progress-bars .icon:hover {
        color: #65378F; }

/* 10.3 Map */
#map {
  width: 100%;
  height: 500px; }

/* 11 Blog & Portfolio */
.blog .blog-main {
  /* 11.1 Blog post & Portfolio item */ }
  @media (min-width: 992px) {
    .blog .blog-main {
      padding-left: 0;
      padding-right: 30px; } }
  .blog .blog-main.masonry {
    padding: 0; }
  @media (max-width: 480px) {
    .blog .blog-main {
      padding: 0; } }
  .blog .blog-main .blog-post {
    width: 100%;
    border: 1px solid #EDEEF0;
    display: block;
    margin-bottom: 30px; }
    .blog .blog-main .blog-post .thumbnail-wrap {
      width: 100%; }
      .blog .blog-main .blog-post .thumbnail-wrap img {
        width: 100%;
        height: auto;
        display: block; }
    .blog .blog-main .blog-post .other-post {
      padding: 20px;
      padding-top: 15px; }
      @media (max-width: 480px) {
        .blog .blog-main .blog-post .other-post p {
          font-size: 14px; } }
      @media (max-width: 360px) {
        .blog .blog-main .blog-post .other-post {
          padding: 10px; } }
      .blog .blog-main .blog-post .other-post h4 {
        margin-top: 0;
        font-weight: 600; }
      .blog .blog-main .blog-post .other-post h3, .blog .blog-main .blog-post .other-post h4 {
        display: block;
        text-align: left;
        margin-bottom: 15px; }
        .blog .blog-main .blog-post .other-post h3:after, .blog .blog-main .blog-post .other-post h4:after {
          display: none; }
        .blog .blog-main .blog-post .other-post h3 a, .blog .blog-main .blog-post .other-post h4 a {
          color: #080909; }
      .blog .blog-main .blog-post .other-post .actions {
        margin-bottom: 15px; }
      .blog .blog-main .blog-post .other-post .permalink {
        display: inline-block;
        margin-top: 20px;
        color: #080909; }
      .blog .blog-main .blog-post .other-post p {
        color: #5a5454; }

@media (min-width: 992px) {
  .blog .sidebar-wrap {
    padding-left: 30px;
    padding-right: 0; } }

/* 11.2 Post styles */
.btn-fullwidth-wrap {
  width: 100%;
  display: flex;
  justify-content: center; }

.post {
  margin-bottom: 30px; }
  @media (max-width: 600px) {
    .post {
      padding: 0 !important; } }

.post-body {
  width: 100%;
  background: #F6F6F6; }
  .post-body .actions div {
    border-right: 1px solid #fff; }
  .post-body .other-post {
    padding: 15px; }
    .post-body .other-post h5 {
      color: #080909;
      margin-bottom: 10px; }
    .post-body .other-post p {
      font-size: 14px;
      color: #5a5454; }
    .post-body .other-post .permalink {
      display: inline-block;
      margin-top: 15px;
      color: #080909; }
      .post-body .other-post .permalink:hover {
        color: #fff; }
  .post-body .thumbnail-wrap {
    width: 100%;
    height: auto;
    max-height: 240px;
    display: block;
    position: relative;
    overflow: hidden; }
    .post-body .thumbnail-wrap img {
      display: block;
      min-width: 100%;
      width: 100% !important;
      position: relative;
      max-width: 100.5%;
      height: auto;
      transition: transform 0.4s;
      -webkit-backface-visibility: hidden;
      -webkit-box-shadow: inset -10px -41px 73px 1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: inset -10px -41px 73px 1px rgba(0, 0, 0, 0.75);
      box-shadow: inset -10px -41px 73px 1px rgba(0, 0, 0, 0.75); }
    .post-body .thumbnail-wrap .actions {
      padding-right: 15px;
      padding-bottom: 15px;
      z-index: 102;
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;
      width: 100%;
      justify-content: flex-end;
      color: #fff;
      align-items: flex-end;
      height: 100%;
      box-shadow: inset -10px -41px 73px 1px rgba(0, 0, 0, 0.7); }
      .post-body .thumbnail-wrap .actions .date {
        margin-right: 15px; }
      .post-body .thumbnail-wrap .actions i {
        font-size: 15px;
        margin-right: 4px; }
    @media (max-width: 767px) {
      .post-body .thumbnail-wrap {
        max-height: none; } }
  .post-body .post-head {
    display: block;
    position: relative; }
    .post-body .post-head .hover {
      opacity: 0;
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.7);
      z-index: 101;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s all; }
      .post-body .post-head .hover i {
        font-size: 25px;
        color: #fff; }
    .post-body .post-head:hover img {
      transform: scale(1.2); }
    .post-body .post-head:hover .hover {
      opacity: 1; }

/* 11.3 Sidebar */
.sidebar {
  /* widget core */
  /* search widget */
  /* widget recent posts */
  /* widget tags */
  /* widget categories */
  /* widget flickr */ }
  .sidebar .widget {
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #EDEEF0; }
    .sidebar .widget h5 {
      margin-bottom: 15px;
      font-weight: 600; }
  .sidebar .widget-search form {
    width: 100%;
    display: flex;
    align-items: center; }
    .sidebar .widget-search form input {
      width: 100%;
      height: 40px;
      line-height: 40px;
      border: 1px solid #EDEEF0;
      padding: 0 10px;
      font-size: 14px;
      transition: 0.3s all linear; }
      .sidebar .widget-search form input:focus {
        border: 1px solid #1CA6F6; }
      .sidebar .widget-search form input::-webkit-input-placeholder {
        color: #909590; }
      .sidebar .widget-search form input::-moz-placeholder {
        color: #909590; }
      .sidebar .widget-search form input:-moz-placeholder {
        color: #909590; }
      .sidebar .widget-search form input:-ms-input-placeholder {
        color: #909590; }
      .sidebar .widget-search form input::-webkit-input-placeholder {
        text-indent: 0px;
        transition: text-indent 0.5s ease; }
      .sidebar .widget-search form input::-moz-placeholder {
        text-indent: 0px;
        transition: text-indent 0.5s ease; }
      .sidebar .widget-search form input:-moz-placeholder {
        text-indent: 0px;
        transition: text-indent 0.5s ease; }
      .sidebar .widget-search form input:-ms-input-placeholder {
        text-indent: 0px;
        transition: text-indent 0.5s ease; }
      .sidebar .widget-search form input:focus::-webkit-input-placeholder {
        text-indent: 500px;
        transition: text-indent 0.5s ease; }
      .sidebar .widget-search form input:focus::-moz-placeholder {
        text-indent: 500px;
        transition: text-indent 0.5s ease; }
      .sidebar .widget-search form input:focus:-moz-placeholder {
        text-indent: 500px;
        transition: text-indent 0.5s ease; }
      .sidebar .widget-search form input:focus:-ms-input-placeholder {
        text-indent: 500px;
        transition: text-indent 0.5s ease; }
    .sidebar .widget-search form button {
      width: 40px;
      height: 40px;
      background: #1CA6F6;
      border: none;
      color: #fff;
      cursor: pointer;
      text-align: center;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center; }
  .sidebar .widget-recent-posts .recent-post {
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 15px; }
    .sidebar .widget-recent-posts .recent-post .thumbnail {
      width: 50px;
      display: block;
      height: 50px;
      margin-right: 15px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .sidebar .widget-recent-posts .recent-post .title {
      font-size: 15px;
      color: #080909;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      display: block;
      margin-top: 6px; }
    .sidebar .widget-recent-posts .recent-post .date {
      font-size: 13px;
      color: #909590;
      margin-top: 5px;
      display: block; }
  .sidebar .widget-tags .tags-wrap {
    display: flex;
    flex-wrap: wrap; }
  .sidebar .widget-tags .tag {
    margin-bottom: 6px;
    margin-right: 6px; }
  .sidebar .widget-categories .cat-wrap {
    margin-top: 10px; }
    .sidebar .widget-categories .cat-wrap .category {
      font-size: 16px;
      font-weight: 500;
      margin-top: 15px;
      padding-bottom: 3px;
      border-bottom: 1px solid #EDEEF0;
      transition: 0.3s all ease;
      color: #080909;
      display: block;
      line-height: 1.6;
      font-family: 'Montserrat', sans-serif; }
      .sidebar .widget-categories .cat-wrap .category:hover {
        color: #1CA6F6; }
  .sidebar .widget-flickr .flickr_badge_image {
    margin: 0px;
    display: inline; }
  .sidebar .widget-flickr .flickr_badge_image img {
    border: 0px solid #666666 !important;
    padding: 1px;
    margin: 2px; }
  .sidebar .widget-text p {
    color: #5a5454; }

/* 12 Blog Single & Portfolio Single */
.blog-single {
  width: 100%;
  /* 12.1 Thumbnail styles */
  /* 12.2 Description   */
  /* 12.3 Share */
  /* 12.4 Comments */ }
  .blog-single .thumbnail-wrap {
    display: block;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 100%; }
    .blog-single .thumbnail-wrap img {
      display: block;
      min-width: 100%;
      width: 100% !important;
      position: relative;
      max-width: 100.5%;
      height: auto; }
    .blog-single .thumbnail-wrap .hover {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      opacity: 0;
      background: rgba(0, 0, 0, 0.7);
      transition: 0.3s all;
      color: #fff;
      font-size: 25px; }
      .blog-single .thumbnail-wrap .hover:hover {
        opacity: 1; }
  .blog-single .actions {
    margin-top: 10px;
    margin-bottom: 15px; }
  .blog-single .comment-actions {
    margin: 50px 0;
    border-bottom: 1px solid #EDEEF0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center; }
    .blog-single .comment-actions i, .blog-single .comment-actions span {
      font-size: 18px; }
    .blog-single .comment-actions .actives {
      display: flex;
      flex-wrap: wrap; }
      .blog-single .comment-actions .actives div {
        margin-right: 15px;
        color: #080909; }
        .blog-single .comment-actions .actives div .like {
          cursor: pointer; }
    .blog-single .comment-actions .share a {
      transform: scale(0.8); }
    @media (max-width: 400px) {
      .blog-single .comment-actions {
        flex-direction: column;
        align-items: center; }
        .blog-single .comment-actions .actives {
          margin-bottom: 20px; } }
  .blog-single .comments .comment .comment-wrap {
    display: flex;
    margin-bottom: 30px;
    padding-bottom: 12px;
    border-bottom: 1px solid #EDEEF0; }
    @media (max-width: 400px) {
      .blog-single .comments .comment .comment-wrap {
        flex-direction: column; } }
  .blog-single .comments .comment .comment-reply {
    margin-left: 35px; }
    @media (max-width: 400px) {
      .blog-single .comments .comment .comment-reply {
        margin-left: 20px; } }
  .blog-single .comments .comment .author-img img {
    width: 50px !important;
    height: 50px !important;
    margin-right: 20px; }
    @media (max-width: 400px) {
      .blog-single .comments .comment .author-img img {
        margin-right: 0;
        margin-bottom: 12px; } }
  .blog-single .comments .comment .comment-body .comment-head .author-name {
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px; }
  .blog-single .comments .comment .comment-body .comment-head .date {
    color: #909590;
    font-size: 14px; }
  .blog-single .comments .comment .comment-body .comment-head a {
    font-size: 14px;
    color: #1CA6F6;
    margin-left: 15px; }
  .blog-single .comments .comment .comment-body .comment-text p {
    margin-top: 6px;
    font-size: 14px;
    line-height: 1.3; }
  .blog-single .comment-form h3 {
    text-align: left; }
    .blog-single .comment-form h3:after {
      display: none; }
  @media (max-width: 991px) {
    .blog-single .comment-form {
      margin-bottom: 30px; } }
  .blog-single .comment-form form {
    margin-top: 20px; }
  .blog-single .comment-form .form-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .blog-single .comment-form .form-flex input {
      width: 48%;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      border: 1px solid #909590;
      padding: 0 15px;
      margin-bottom: 25px;
      transition: 0.3s all ease; }
      .blog-single .comment-form .form-flex input:focus {
        border: 1px solid #1CA6F6; }
      @media (max-width: 600px) {
        .blog-single .comment-form .form-flex input {
          width: 100%; } }
  .blog-single .comment-form textarea {
    width: 100%;
    min-height: 200px;
    max-height: 500px;
    resize: vertical;
    font-size: 16px;
    border: 1px solid #909590;
    padding: 15px;
    margin-bottom: 25px;
    transition: 0.3s all ease; }
    .blog-single .comment-form textarea:focus {
      border: 1px solid #1CA6F6; }
  .blog-single .comment-form button {
    cursor: pointer; }

/* 12.5 Post single content styles & typography */
.blog .content {
  padding-top: 15px;
  margin-bottom: 30px; }
  .blog .content .tabs {
    width: 100%; }
    .blog .content .tabs .tabs__caption {
      padding: 0 !important;
      margin: 0;
      display: flex;
      list-style-type: none; }
      .blog .content .tabs .tabs__caption li {
        list-style-type: none;
        border-bottom: 1px solid #EDEEF0;
        border-right: 1px solid #EDEEF0;
        border-top: 1px solid #EDEEF0;
        font-size: 16px;
        font-family: "Montserrat", sans-serif;
        cursor: pointer;
        padding: 14px 20px;
        border-collapse: collapse; }
        @media (max-width: 480px) {
          .blog .content .tabs .tabs__caption li {
            font-size: 14px;
            padding: 14px 15px; } }
        .blog .content .tabs .tabs__caption li:first-child {
          border-left: 1px solid #EDEEF0; }
        .blog .content .tabs .tabs__caption li.active {
          background: #EDEEF0;
          color: #000;
          font-weight: bold; }
    .blog .content .tabs .tabs__content {
      padding: 15px;
      line-height: 1.4;
      font-size: 14px;
      height: auto;
      font-family: 'Open Sans', sans-serif;
      display: none;
      /* по умолчанию прячем все блоки */ }
      .blog .content .tabs .tabs__content p {
        margin-bottom: 15px; }
      .blog .content .tabs .tabs__content.active {
        background: #EDEEF0;
        display: block;
        /* по умолчанию показываем нужный блок */ }
  .blog .content img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    display: inline-block; }
  .blog .content p {
    margin: 8px 0;
    color: #5a5454; }
  .blog .content h4 {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 8px; }
  .blog .content b,
  .blog .content strong {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    font-size: 15px;
    color: #5a5454;
    margin: 8px 0;
    display: block; }
  .blog .content i,
  .blog .content em {
    font-family: 'Open Sans', italic;
    line-height: 1.4;
    font-size: 15px;
    color: #5a5454;
    margin: 8px 0;
    display: block;
    font-style: italic; }
  .blog .content h1, .blog .content .h1,
  .blog .content h2,
  .blog .content h3,
  .blog .content h4,
  .blog .content h5,
  .blog .content h6 {
    text-align: left;
    display: block;
    margin: 0;
    line-height: 1.4; }
    .blog .content h1:before, .blog .content h1:after, .blog .content .h1:before, .blog .content .h1:after,
    .blog .content h2:before,
    .blog .content h2:after,
    .blog .content h3:before,
    .blog .content h3:after,
    .blog .content h4:before,
    .blog .content h4:after,
    .blog .content h5:before,
    .blog .content h5:after,
    .blog .content h6:before,
    .blog .content h6:after {
      display: none; }
  .blog .content ul {
    padding-left: 15px !important;
    margin: 10px 0;
    list-style: disc; }
    .blog .content ul li {
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
      color: #5a5454;
      line-height: 2;
      display: list-item; }
      @media (max-width: 480px) {
        .blog .content ul li {
          font-size: 15px;
          line-height: 1.5; } }
  .blog .content ol {
    padding-left: 15px !important;
    margin: 10px 0;
    list-style: decimal; }
    .blog .content ol li {
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
      color: #5a5454;
      line-height: 2;
      display: list-item; }
      @media (max-width: 480px) {
        .blog .content ol li {
          font-size: 15px;
          line-height: 1.5; } }
  .blog .content a {
    font-size: 15px;
    color: #1CA6F6;
    text-decoration: underline;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif; }
  .blog .content .scroll {
    width: 100%;
    overflow: auto; }
  .blog .content table {
    margin: 10px 0;
    width: auto;
    max-width: 100%;
    overflow-x: auto !important;
    display: table;
    border: 1px solid #EDEEF0;
    border-collapse: collapse;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px; }
    .blog .content table thead {
      background: #EDEEF0;
      font-weight: bold; }
    .blog .content table td {
      padding: 10px;
      border: 1px solid #909590; }
  .blog .content blockquote {
    padding-left: 15px;
    margin: 10px 0;
    margin-left: 10px;
    border-left: 1px solid #1CA6F6;
    font-family: 'Open Sans', sans-serif; }
    .blog .content blockquote p {
      font-family: 'Open Sans', sans-serif;
      line-height: 1.4;
      color: #5a5454; }
  .blog .content code,
  .blog .content pre {
    margin: 10px 0;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    background: #EDEEF0;
    text-align: left;
    display: block; }
  .blog .content button {
    cursor: pointer;
    color: #080909; }

/* 13 Other styles */
.actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #080909; }
  @media (max-width: 360px) {
    .actions {
      font-size: 14px; } }
  .actions > div {
    border-right: 1px solid #080909;
    padding-right: 12px;
    margin-right: 12px; }
    .actions > div:last-child {
      padding-right: 0;
      margin-right: 0;
      border: none; }
  .actions a {
    color: #1CA6F6; }

/* 13.1 Pagination */
.pagination {
  margin-top: 35px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 15px; }
  .pagination li {
    margin-bottom: 8px; }
  .pagination a {
    display: block;
    line-height: 35px;
    width: 35px;
    max-height: 35px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #080909;
    margin: 0 5px;
    border: 1px solid #EDEEF0;
    transition: 0.3s all ease; }
  .pagination .current a,
  .pagination a:hover {
    background: #1CA6F6;
    color: #fff;
    border: 1px solid #1CA6F6; }

/* YouTube video wrap  */
.ytv-wrap {
  position: relative;
  padding-bottom: 55.5%;
  padding-top: 1px;
  height: 0;
  margin: 0; }
  .ytv-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    display: block;
    width: 100%;
    min-width: 100%;
    height: 101%;
    z-index: 5; }

/* styles for disabled item */
.disable {
  opacity: 0;
  visibility: hidden;
  pointer-events: none; }

@media (max-width: 767px) {
  .no-padding {
    padding: 0 !important; } }

/* responsive img class */
.img-responsive {
  height: auto;
  display: block;
  width: 100%;
  max-width: 100%; }

/* gallery post */
post-gallery {
  width: 100%;
  height: auto;
  display: flex; }

.post-gallery img {
  max-width: 100%;
  width: auto;
  position: relative;
  overflow: hidden; }

.post-gallery .prev {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  z-index: 15;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  opacity: 0;
  transition: 0.3s all; }

.post-gallery .next {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  z-index: 15;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  opacity: 0;
  transition: 0.3s all; }

.post-gallery .slick-dots {
  position: absolute;
  bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 0;
  transition: 0.3s all; }

.post-gallery:hover .slick-dots {
  opacity: 0.8; }

.post-gallery:hover .next {
  opacity: 1; }

.post-gallery:hover .prev {
  opacity: 1; }

.post-gallery .slick-dots li {
  margin: 0 5px;
  width: 10px;
  height: 10px;
  background: #fff;
  opacity: 0.8;
  transition: 0.3s all;
  cursor: pointer;
  border-radius: 50%; }

.post-gallery .slick-dots li button {
  display: none; }

.post-gallery .slick-dots li.slick-active {
  opacity: 1;
  background: #1CA6F6; }

.cont-icons-section .fa {
  text-align: center;
  margin-bottom: 8px;
  font-size: 42px;
  color: #1CA6F6; }

.cont-icons-section h5 {
  margin-bottom: 8px;
  color: #080909;
  line-height: 2; }

.cont-icons-section .cont-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px; }
